*.venv*
/.project
/.pydevproject
*.pyc
*.pklz
*~
.DS_Store
.coverage
.settings/
*.swp
.settings/
/build/
/dist
/dist.*
.pytest_cache/
/.history
.env
__pycache__
.vscode
*.egg-info
~*
/outputs
/test-data
/nipype2pydra/_version.py

