-e ./afni
-e ./ants
-e ./brainsuite
-e ./bru2nii
-e ./c3
-e ./camino
-e ./camino2trackvis
-e ./cat12
-e ./cmtk
-e ./dcmstack
-e ./diffusion_toolkit
-e ./dipy
-e ./dtitk
-e ./dynamic_slicer
-e ./elastix
-e ./freesurfer
-e ./fsl
-e ./meshfix
-e ./minc
-e ./mipav
-e ./niftyfit
-e ./niftyreg
-e ./niftyseg
-e ./nilearn
-e ./nitime
-e ./petpvc
-e ./quickshear
-e ./robex
-e ./semtools
-e ./slicer
-e ./spm
-e ./vista
-e ./workbench